*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(Back-ground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 30px 15px;
    padding: auto;
}

#head{
    display: flex;
    justify-content: center;
}

.dimensions{
    min-height: 120px;
    min-width: 115px;
}

h2{
    text-align: center;
    margin: 10px;
}

.temp1{
    height: 10vh;
}

.cardd{
    /* background-image: url(Back-ground.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}

.container{
    /* background-image: url(Back-ground.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* width: 100vw; */
    /* height: 100vh; */
}

nav{
    /* width: 100vw; */
}